.customer{
  display: flex;
  .customerContainer {
    flex: 6;
    flex-direction: column;
    .customerList {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 10px 20px;
  
      .title{
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

.de{
  border: 0.5px solid red;
}