.navbar {
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: stretch;
  font-size: 14px;
  color: #555;
  

  .wrapper {
    width: 100%;
    // padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;  //display the navbar icons at corner
    padding-left: 20px;
    padding-right: 10px;

    .search {
      margin-top: 0;
      display: flex;
      align-items: center;
      border: 1.5px solid lightgray;
      padding: 3px;
      border-radius: 5px;
      height: 30px;
      
  
      
      input {
        border: none;
        outline: none;
        background: transparent;

        &::placeholder {
          font-size: 12px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;
        font-weight: bold;
          font-size: 14px;

        .icon {
          font-size: 20px;
        }

        //image icon
        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-right: 5px;
        }
         
        //this is used for notification number
        .counter {
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
    }
  }
}

.de{
  border: 0.5px solid red;
}