.bannerview{
    display: flex;
    width: 100%;
   
    

    .bannerviewContainer{
        flex: 6;
    }

    .temp {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;

      //width: 170px;
      //display: flex;
   
      

    }
}
.buttonX {
  // width: 104px;
  padding: 10px;
  align-items: center;
  border: none;
  background-color: #ef9356;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-weight: bold;

}
input[type="text"] {
  // margin: 5px;
  font-size: 15px;
  height: 40px;
  border: 1px solid #C4C4C4;
  padding: 10px;
  border-radius: 4px;

}
.previewImage{
  display: block;
  max-width:200px;
  max-height:200px;
  width: auto;
  height: auto;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}